<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<div>Name: <div style="display: inline-block" th:text="${person.getName()}">VALUE</div></div>

<div>Id: <div style="display: inline-block" th:text="${person.getId()}">VALUE</div></div>

<div>Age: <div style="display: inline-block" th:text="${person.getAge()}">VALUE</div></div>

<div>Email: <div style="display: inline-block" th:text="${person.getEmail()}">VALUE</div></div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit Profile</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a th:href="@{/people}">Back</a>
</body>
</html>